* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #ffffff;
}

body, input, button, textarea {
    font: 400 20px Roboto, sans-serif;
}

#single-page {
    width: 100vw;
    height: 100vh;

    position: relative;
    display: flex;
}

#single-page aside {
    width: 400px;
    height: 100vh;
    background-color: rgba(7, 160, 195, 0.88);
    padding: 80px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#single-page aside header img {
    width: 120px;
    margin-top: -40px;
}

#single-page aside .menu-options {
    margin-top: 40px;
}

#single-page aside .menu-options .accordion {
    width: 400px;
}

#single-page aside .menu-options .accordion .card {
    color: #ffffff;
    background-color: rgba(7, 160, 195, 0.88);
    border-top-color: #d3d3d3;
    border-right-color: transparent;
    border-left-color: transparent;
    outline-style: none;
    cursor: pointer;
    border-width: 1px;
    font: 700 20px Roboto, sans-serif;
    text-align: center;
}

#single-page aside .menu-options .accordion .card:hover {
    background-color: #08B2D9;
}

#single-page aside .menu-options .accordion .card .card-body {
    background-color: #F0C808;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: -15px;
}

#single-page aside .menu-options .accordion .card .card-body h6 {
    margin-top: -5px;
    margin-bottom: 20px;
    color: #003F88;
    opacity: 0.85;
}

#single-page aside .menu-options .accordion .card .card-body img {
    width: 22px;
    margin-right: 12px;
}

#single-page aside .menu-options .accordion .card .card-body .mb-3 {
    width: 80%;
    height: 10px;
}

#single-page aside .menu-options .accordion .card .card-body .mb-3 #inputGroup-sizing-default {
    width: 50px;
    background-color: #08B2D9;
}

#single-page aside .menu-options .accordion .sentidos {
    display: none;
}

#single-page aside .menu-options .accordion .sentidos .sentido {
    height: 40px;
    border-top: 1px solid #d3d3d3;
    border-bottom: 1px solid #D3D3D3;
    background-color: rgba(33, 118, 255, 0.6);
    display: flex;
    justify-content: center;
}

#single-page aside .menu-options .accordion .sentidos .sentido h6 {
    color: #F0C808;
    font-weight: 500;
    font-size: 18px;
    margin-top: 8px;
}

#single-page aside .menu-options .accordion .sentidos p {
    color: #ffffff;
    font-weight: 400;
    margin: 10px 0px 10px 30px;
    font-size: 18px;
}

#single-page aside .menu-options .accordion .previsao-de-chegada {
    display: none;
}

#single-page aside .menu-options .accordion .previsao-de-chegada .content {
    font-weight: 500;
    background-color: rgba(33, 118, 255, 0.6);
    border-top: 1px solid #d3d3d3;
    border-bottom: 1px solid #d3d3d3;
    width: 100%;
    height: 40px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#single-page aside .menu-options .accordion .previsao-de-chegada .content .first-child {
    color: #ffffff;
    margin-top: 16px;
}

#single-page aside .menu-options .accordion .previsao-de-chegada .content .last-child {
    color: #F0C808;
    margin-left: 5px;
    margin-top: 16px;
}

/*#single-page aside .menu-options .accordion .card .card-body input {
    width: 70%;
    height: 35px;
    border-color: transparent;
    border-radius: 6px;
    outline-style: none;
    color: #003F88;
    font: 400 15px Roboto, sans-serif;
}

#single-page aside .menu-options .accordion .card .card-body input::placeholder {
    color: #003F88;
    opacity: 0.8;
    font: 400 15px Roboto, sans-serif;
    text-align: center;
}*/

/*#single-page aside .menu-options {
    width: 440px;
    margin-top: 30px;

    display: flex;
    flex-direction: column;
    align-self: center;
}

#single-page aside .menu-options button {
    width: 100%;
    height: 80px;
    color: #ffffff;
    background-color: rgba(7, 160, 195, 0.88);
    border-top-color: #d3d3d3;
    border-bottom-color: transparent;
    border-right-color: transparent;
    border-left-color: transparent;
    outline-style: none;
    cursor: pointer;
    border-width: 1px;
}

#single-page aside .menu-options button:hover {
    background-color: #08B2D9;
}

#single-page aside .menu-options .previsao-de-chegada {
    border-bottom: 1px solid #d3d3d3;
}

#single-page aside .menu-options .localizacao-dos-onibus .dropdown-localizacao {
    display: none;
    background-color: #F0C808;
    height: 80px;
}

#single-page aside .menu-options .localizacao-dos-onibus:active .dropdown-localizacao {
    display: block;
}*/