* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #ffffff;
}

body, input, button, textarea {
    font: 400 20px Roboto, sans-serif;
}

#single-page {
    width: 100%;
    height: 100vh;

    position: relative;
    display: flex;
}

#single-page aside {
    width: 440px;
    background-color: rgba(7, 160, 195, 0.88);
    padding: 80px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#single-page aside img {
    width: 150px;
    margin-top: -50px;
}