{% extends "template.html" %}
{% load static %}

{% block content %}
<div class="container mt-5">
    {% include 'partials/_alertas.html' %}
    <form action="{% url 'criar_parada' %}" method="POST">
    {% csrf_token %}
        <div class="row">
            <div class="col-md-2">
                <label for="id" class="form-label">ID</label>

                <input type="number" class="form-control" name="id" placeholder="O id deve ser apena numeros">
            </div>
            <div class="col-md-10">
                <label for="name" class="form-label">Nome</label>
                <input type="text" name="name" class="form-control" placeholder="Qual o nome da parada?">
            </div>
            <div class="col-md-6">
                <label for="latitude" class="form-label">Latitude</label>
                <input type="text" name="latitude" class="form-control" placeholder="A latitude deve ser apena numeros">
            </div>
            <div class="col-md-6 mb-4">
                <label for="longitude" class="form-label">Longitude</label>
                <input type="text" name="longitude" class="form-control" placeholder="A longitude deve ser apena numeros">
            </div>
        </div>
            <button type="submit" class="btn btn-primary mb-3 mt-3">Inserir</button>
    </form>
            <button type="submit" class="btn btn-warning" onclick="window.location.href = '{% url 'busca_parada' %}'">Voltar</button>
</div>
{% endblock %}