{% extends 'base.html' %}
{% block content %}
<h1 id="detail-title"> Detalhes da Parada</h1>
<ul id="detail-li" class="list-group list-group-flush" >
  <li class="list-group-item"><strong>Nome:</strong> {{ parada.name }}</li>
  <li class="list-group-item"><strong>Latitude:</strong> {{parada.latitude}}</li>
  <li class="list-group-item"><strong>Longitude:</strong> {{parada.longitude}}</li>
  <li class="list-group-item"><strong>ID:</strong> {{parada.id}}</li>
  <li class="list-group-item"><strong></strong> <button type="button" class="btn btn-secondary" ><a href="{% url 'parada:list'%}" style="color:white">Voltar</a></button></li>
</ul>

{% endblock %}