<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Bem na hora</title>
    <link rel="icon" href="/assets/logo-icon.ico"/>
    <link rel="stylesheet" href="styles/animations.css"/>
    <link rel="stylesheet" href="styles/main.css"/>
    <link rel="stylesheet" href="styles/landing-page.css"/>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;800&display=swap" rel="stylesheet"/>
  </head>

  <body>
    <div id="landing-page">
      <div id="container">
        <header>
          <img class="animate-up" id="logo" src="/assets/logo.svg" alt="Logotype"/>
          <div class="location animate-up">
            <strong>São Paulo</strong>
          </div>
        </header>

        <main>
          <h1 class="animate-up">Bem na hora!</h1>
          <section class="visit">
            <p class="animate-up">
              Programa-se em tempo real.
            </p>

            <a href="/map" title="Visualizar mapa" class="animate-up">
              <img src="/assets/arrow.svg" alt="Ir para o mapa"/>
            </a>
          </section>
        </main>
      </div>
    </div>
  </body>

</html>