{% extends 'base.html' %}
{% block title %}Veículos{% endblock %}
{% block content %}

<h1 id="title" >Veículos</h1>
<form method="get" action="{% url 'veiculos:search' %}">
  {% csrf_token %}
  <div id="search-div" class="input-group mb-3" >
    <input type="text" name="search-id" class="form-control"  aria-label="Search" >

    <div class="input-group-append">
    <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Tipos de Pesquisa</button>
    <div class="dropdown-menu">
      <input class="btn btn-light" type='submit' name = 'search-mode'    value = 'VeiculosPorID' style="width:100%"><br>
      <input class="btn btn-light" type='submit' name = 'search-mode'    value = 'VeiculosPorIDdeLinha'>
    </div>
  </div>

  </div>
</form>
<table id="list-table" class="table" >
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Nome</th>
      <th scope="col">Modelo</th>
      <th scope="col">Linha</th>
      <th scope="col">Editar</th>
      <th scope="col">Deletar</th>
    </tr>
  </thead>
  <tbody>
  {% for veiculo in veiculos %}
    <tr>
      <td>{{ veiculo.id}}</td>
      <td><a href="{{ veiculo.get_absolute_url}} ">{{ veiculo.name}}</a></td>
      <td>{{ veiculo.modelo}}</td>
        <td><a href="{{ veiculo.linha.get_absolute_url}} ">{{ veiculo.linha }}</a></td>
      <td><button type="button" class="btn btn-primary"><a id="edit-link" href="{% url 'veiculos:update' veiculo.pk %}" >Editar</a></button></td>
      <td><button type="button" class="btn btn-danger"><a id="delete-link" href="{% url 'veiculos:delete' veiculo.pk %}">Deletar</a></button></td>
    </tr>
  {% endfor %}
  </tbody>
</table>
<div id="create-div">
    <a href="{% url 'veiculos:create'%}">Criar Novo Veículo</a>
</div>
<div id="pagination-div" class="pagination col-12" >

    <span id="pagination-span" class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; Primeira</a>
            <a href="?page={{ page_obj.previous_page_number }}">Anterior</a>
        {% endif %}

        <span class="current">
            Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">Próxima</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">Última &raquo;</a>
        {% endif %}

    </span>

</div>
{% endblock %}