* {
    box-shadow: border-box;
}

h1,
h2,
p,
ul,
li,
body {
    padding: 0;
    margin: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.leaflet-container {
    height: 100vh;
    width: 70vw;
}

.container {
    display: flex;
}

.leaflet-popup-content-wrapper {
    width: 350px;
}

@media (max-width: 840px) {
    .container {
        flex-direction: column;
    }
    .leaflet-container {
        width: 100%;
        height: 90vh;
    }
}